{
  "KAKAO_NATIVE_APP_KEY": "developers.kakao.com 네이티브 앱 키",
  "KAKAO_JS_KEY": "developers.kakao.com JavaScript 키",
  "GOOGLE_SERVER_CLIENT_ID": "구글 웹 클라이언트 ID (안드로이드용 아님)",
  "USE_MOCK": false,
  "API_BASE_URL": "http://localhost:8086",
  "AUTH_BASE_URL": "http://localhost:8081"
}
