<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- ⚠️ Flutter 는 이 권한을 debug/profile 매니페스트에만 넣어 준다.
         여기에 없으면 릴리스 빌드에서만 모든 API 호출이 죽는다 — 개발 중에는
         절대 재현되지 않는 종류의 버그다. 이 앱은 화면 전부가 서버 데이터다. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 카메라 권한은 일부러 선언하지 않는다. image_picker 는 촬영을
         ACTION_IMAGE_CAPTURE 인텐트로 넘겨 기본 카메라 앱이 대신 찍는데,
         CAMERA 를 선언해 두면 그 순간부터 런타임 권한 요청이 필수가 된다.
         선언하지 않으면 아무 권한 없이 촬영이 된다. 갤러리도 마찬가지로
         Android 13+ 의 사진 선택기를 쓰므로 저장소 권한이 필요 없다. -->

    <application
        android:label="낚시출조"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
